
data/h36m_cpn+detectron+gt_2d_normalized+unnormlized_gt_3d.npy
.idea/3D-HM-POSE-EST-EXP-ENV.iml
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
common/__pycache__/dataset.cpython-37.pyc
common/__pycache__/config.cpython-37.pyc
*.pyc
.idea/workspace.xml
