# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\3D-HM-POSE-EST-EXP-ENV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
